
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-right-dir:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-print:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-resize-full:before { content: '\e808'; } /* '' */
.icon-resize-small:before { content: '\e809'; } /* '' */