@import "variables.less";

/* FOOTER START */
.footer {
    border-top: 1px solid #aaa;
    margin-top: 6em;
    .middle {
        text-align: center;
        }
    .right {
        text-align: right;
        a {
            position: relative;
            overflow: hidden;
            text-indent: -9999px;
            display: inline-block;
            width: 1.5em;
            &:hover {
                background: none !important;
                }
            &:after {
                content: '\e804';
                position: absolute;
                right: 0;
                top: 50%;
                font-size: 1.5em;
                text-indent: 0;
                margin-top: -.5em;
                margin-right: 0;
                }
            }
        }
    p {
    color: #999;
        a {
            color: #888;
            text-decoration: none;
            &:link {
                color: #777;
                text-decoration: none;
                }
            &:visited {
                color: #777;
                text-decoration: none;
                }
            &:hover {
                color: #777;
                text-decoration: underline;
                }
            &:active {
                color: #777;
                text-decoration: none;
                }
            }
        }
    }
.cssgradients .footer p a:hover {
    .underline(#777, #fff, 1.15em, 0.25em);
    }
/* FOOTER END */
