---
title: "Energieausweis − Kramer Immobilien Makler"
description: "Der Energieausweis ist ein Dokument, das ein Gebäude energetisch bewertet."
---

                <article class="stripe">
                    <div class="row">
                        <div class="col x9">
                            <h1>Energieausweis</h1>

<table cellspacing="15" cellpadding="0" border="0" width="100%">
<tbody>
<tr>
<td valign="top">
<p><img border="0" align="right" vspace="5" hspace="5" src="images/energieausweis.jpg">Hausbesitzer müssen neuen Mietern und Eigentümern ab 2008 einen Energieausweis für ihr Gebäude vorlegen. Dabei besteht in einer Übergangsfrist bis 1. Oktober 2008 noch die Möglichkeit für alle Gebäudeeigentümer einen preiswerten verbrauchsbasierten Energieausweis erstellen zu lassen. Lesen Sie hier, welche Ausweisvariante für Sie in Frage kommt.</p>
<p><strong>Was ist ein Energieausweis?</strong><br>Energieausweise geben Auskunft über den Energieverbrauch pro Quadratmeter Nutzfläche und Jahr, ähnlich wie wir das schon von Energieeffizienzklassen bei Haushaltsgeräten oder dem Durchschnittsverbrauch von Fahrzeugen kennen. Damit sollen Kaufinteressenten und künftige Mieter eine objektive Information darüber bekommen, ob das Gebäude einen hohen oder einen niedrigen Energiebedarf hat.</p>
<p><strong>Wer braucht einen Energieausweis?</strong><br>Jeder Kauf- oder Mietinteressent für eine Wohnung oder ein Haus hat das Recht auf Vorlage eines gültigen Energieausweises durch den Verkäufer oder Vermieter. Mieter in bestehenden Mietverhältnissen haben keinen Anspruch auf einen Energieausweis. Ein Energieausweis ist immer dann erforderlich, wenn ein Haus oder eine Wohnung verkauft, bzw. neu vermietet wird.</p>
<p><strong>Ab wann ist ein Energieausweis vorzulegen? </strong><br>Für Wohngebäude bis Baujahr 1965 werden Energieausweise ab dem 01.07.2008 verpflichtend, für alle anderen Wohngebäude ab dem 01.01.2009. Für Nichtwohngebäude beginnt die Verpflichtung ab dem 01.07.2009.</p>
<p><strong>Welchen Energieausweis benötige ich?</strong> <br>Der Gesetzgeber lässt zwei Varianten zu: den verbrauchs- und den bedarfsbasierten Energieausweis. Ein verbrauchsbasierter Energieausweis kann besonders günstig erstellt werden, weil er aus den bekannten Verbrauchsdaten der Heizkostenabrechnungen der letzten drei Jahre berechnet wird. Beim bedarfsbasierten Energieausweis ist eine aufwändigere und deshalb teurere Begutachtung des Gebäudes vor Ort erforderlich. Der Kabinettsbeschluss gibt dem Gebäudeeigentümer folgende Möglichkeiten:
</p><ul>
<li>Bedarfsbasierte Energieausweise sind vorgeschrieben für Gebäude mit weniger als fünf Wohnungen, die mit einem Bauantrag vor dem 1. November 1977 errichtet und nicht mindestens auf das Anforderungsniveau der ersten Wärmeschutzverordnung (WSVO) von 1977 modernisiert wurden. Auch wer künftig Mittel aus staatlichen Förderprogrammen zur energetischen Sanierung seines Gebäudes bekommen möchte, muss einen Bedarfsausweis vorlegen. <br><br>
</li><li>Verbrauchsbasierte Energieausweise sind in allen anderen Fällen zulässig. Der Gebäudeeigentümer kann jedoch auch freiwillig einen bedarfsbasierten Energieausweis beauftragen.
<p></p></li></ul>
<p><strong>Was kostet ein Energieausweis?</strong> <br>Verbrauchsbasierte Energieausweise für Wohngebäude erhalten Sie für 35,- Euro pro Energieausweis. Für bedarfsbasierte Energieausweise ist aufgrund des hohen Aufwands mit Preisen über 300,- Euro und mehr pro Gebäude zu rechnen.</p>
<p><strong>Wie lange gilt ein Energieausweis? </strong><br>Energieausweise haben eine Gültigkeitsdauer von 10 Jahren. Wer dazwischen energetische Verbesserungen seines Gebäudes vornimmt, wird allerdings vor Ablauf von 10 Jahren einen neuen Energieausweis erstellen lassen, um die Vorteile gegenüber Käufern und Mietern auch nachweisen zu können.</p>
<p><strong>Wichtige Hinweise:</strong> Wir haben diese Informationen nach bestem Wissen und Gewissen und mit großer Sorgfalt erstellt, dennoch können sich Fehler ergeben haben. Wir weisen ausdrücklich darauf hin, dass alle Angaben und Hinweise ohne jegliche Gewähr erfolgen. Es gelten unsere allgemeinen Geschäftsbedingungen. Die amtliche Fassung der neuen Energieverordnung (EnEv) wurde am 26. Juli 2007 im Bundesgesetzblatt verkündet, im Bundesanzeiger Verlag in Köln. <a target="_blank" href="http://www.bundesgesetzblatt.de">www.bundesgesetzblatt.de</a></p>
<p>Weitere, detaillierte Informationen erhalten Sie unter <a target="_blank" href="http://www.enev-online.de">www.enev-online.de</a></p></td></tr></tbody></table>

                        </div>
                    </div>
                </article>
