---
title: "Immobilien ABC − Kramer Immobilien Makler"
description: "Die Welt der Immobilien, ein Nachschlagewerk der wichtigsten Begriffe."
---

                <article class="stripe a-z">
                    <div class="row">
                        <div class="col x9">
                            <h1>Immobilien ABC</h1>
                            <p>Die Welt der Immobilien ist für den Laien nicht immer leicht verständlich. Fachbegriffe, deren Bedeutung nicht unbedingt eindeutig ist erschweren die Kommunikation zwischen Immobilienmakler und Kunde. Wir haben ein Nachschlagewerk der wichtigsten Begriffe für sie zusammengestellt.</p>
                            <p>
                              Bitte wählen Sie einen Buchstaben:
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col x12">
                            <div class="a-z__container">
                              <a class="schwarz" href="#A">A</a>
                              <a class="schwarz" href="#B">B</a>
                              <span class="grau">C</span>
                              <a class="schwarz" href="#D">D</a>
                              <a class="schwarz" href="#E">E</a>
                              <a class="schwarz" href="#F">F</a>
                              <span class="grau">G</span>
                              <a class="schwarz" href="#H">H</a>
                              <span class="grau">I</span>
                              <span class="grau">J</span>
                              <a class="schwarz" href="#K">K</a>
                              <a class="schwarz" href="#L">L</a>
                              <span class="grau">M</span>
                              <a class="schwarz" href="#N">N</a>
                              <span class="grau">O</span>
                              <a class="schwarz" href="#P">P</a>
                              <span class="grau">Q</span>
                              <a class="schwarz" href="#R">R</a>
                              <a class="schwarz" href="#S">S</a>
                              <a class="schwarz" href="#T">T</a>
                              <a class="schwarz" href="#U">U</a>
                              <a class="schwarz" href="#V">V</a>
                              <a class="schwarz" href="#W">W</a>
                              <span class="grau">X</span>
                              <span class="grau">Y</span>
                              <a class="schwarz" href="#Z">Z</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col x9">
                            <dl id="A">
                               <dt>Abnahmeverpflichtung</dt>
                               <dd>Verpflichtung des Darlehensnehmer, sich das Darlehen innerhalb der vereinbarten Frist (Abnahmefrist) auszahlen zu lassen.</dd>
                               <dt>Annuitätendarlehen</dt>
                               <dd>Sind die bei der Baufinanzierung meist verwendete Darlehensform. Die Bezeichnung stammt von der Art der Verzinsung und Tilgung der Darlehen mit einer gleichbleibenden Jahresleistung. Der Kreditnehmer zahlt dabei bis zur vollen Rückzahlung des Darlehens eine gleichbleibende Jahresleistung, die sich aus dem Zins- und Tilgungssatz in Prozent des Darlehens (Nominalbetrag) errechnet. Die Annuität wird je nach Vertrag in Vierteljahres- oder Monatsraten bezahlt.</dd>
                               <dt>Auflassungsvormerkung</dt>
                               <dd>Eintragung im Grundbuch, die den Anspruch des Grundstückskäufers auf Eigentumsübertragung bis zu seiner endgültigen Eintragung als neuer Eigentümer sichert.</dd>
                               <dt>Auszahlungskurs</dt>
                               <dd>Prozentsatz des Darlehensbetrages (Nominalbetrag), den der Darlehensnehmer nach Abzug des vereinbarten Damnums erhält.</dd>
                            </dl>
                            <dl id="B">
                               <dt>Bearbeitungsgebühr/-entgelt</dt>
                               <dd>Von Banken einmalig erhobene Gebühr für die Bearbeitung des Darlehensantrages. Sie wird in der Regel bei der Auszahlung des Darlehens abgezogen.</dd>
                               <dt>Beleihungsgrenze</dt>
                               <dd>Die Beleihungsgrenze für Hypotheken beträgt bis zu 80% der Herstellungskosten oder des Kaufpreises. Hypothekenbanken beschaffen sich die Mittel für solche Darlehen durch den Verkauf von Pfandbriefen.</dd>
                               <dt>Beleihungswert</dt>
                               <dd>Dauerhafter Wert, der der Ermittlung der Beleihungsgrenze sowie der längerfristigen Risikobeurteilung dient.</dd>
                               <dt>Bereitstellungszinsen</dt>
                               <dd>Zinsen, die von der Bank für den Zeitraum zwischen Darlehenszusage und Auszahlung berechnet werden. Sie sind notwendig, weil die Bank die Mittel bereits bei der Darlehenszusage durch den Verkauf von Pfandbriefen beschafft und für die sie selbst Zinsen zahlen muß.</dd>
                               <dt>Bonität</dt>
                               <dd>Jede Bank prüft aufgrund der gesetzlichen Vorschriften bei Ihrer Kreditentscheidung die Bonität des Kunden, d.h. ob er nach Abzug der für eine angemessene Lebensführung erforderlichen Beträge von seinen regelmäßig erzielten Einkünften in der Lage ist, die laufenden Kreditkosten zu zahlen (pünktliche Zahlungsmoral wird oft durch Schufa-Auskünfte eingeholt).</dd>
                            </dl>
                            <dl id="D">
                                <dt>Damnum</dt>
                                <dd>Oft als Disagio bezeichnet, ist die Differenz zwischen dem Nominalbetrag (Rückzahlungsbetrag) und dem Auszahlungsbetrag eines Hypothekendarlehens.</dd>
                                <dt>Darlehnsvertrag</dt>
                                <dd>Vertrag über die Gewährung und Rückzahlung einer bestimmten Geldsumme. Das Darlehen kommt zustande durch einen Darlehensantrag sowie die Zusage (Bewilligung) der Bank.</dd>
                                <dt>Deckungshypothek</dt>
                                <dd>Hypotheken, die als Sicherheit für die von den Hyopthekenbanken ausgegebenen Pfandbriefen dienen.</dd>
                            </dl>
                            <dl id="E">
                                <dt>Effektivzins</dt>
                                <dd>Preis für die Gesamtbelastung pro Jahr in Prozent bei Krediten, deren Konditionen für die gesamte Laufzeit des Darlehens festgeschrieben sind.</dd>
                                <dt>Energieausweis</dt>
                                <dd><a href="energieausweis.html">Energieausweis</a></dd>
                            </dl>
                            <dl id="F">
                                <dt>Festzinshypothek</dt>
                                <dd>Darlehen, dessen Konditionen die Bank für einen bestimmten Zeitraum garantiert. Die Festzinshypothek ist das Markenzeichen der Hypothekenbanken.</dd>
                                <dt>Finanzierungsplan</dt>
                                <dd>Zusammenstellung aller Herstellungs- oder Erwerbskosten einerseits und der zur Finanzierung dienenden Eigen- und Fremdmittel andererseits.</dd>
                                <dt>Freistellungserklärung</dt>
                                <dd>Grundpfandrecht, mit dem ein Grundstück zur Sicherung eines Darlehens durch Eintragung im Grundbuch belastet wird. Der Darlehensgeber ist dann berechtigt, das Grundstück bei einer Zwangsvollstreckung zu verwerten.</dd>
                            </dl>
                            <dl id="H">
                                <dt>Hypothek</dt>
                                <dd>Kurzform für Hypothekendarlehen. Hypothekendarlehen sind langfristiges Darlehen, zu dessen Absicherung ein Grundpfandrecht im Grundbuch eingetragen wird. Die Hypothek, als bewährte und kurssichere Form der Baufinanzierung, zeichnet sich durch einen über einen langen Zeitraum fest vereinbarten Zins aus.</dd>
                                <dt>Hypothekenbanken</dt>
                                <dd>Sind auf langfristige, grundpfandrechtlich gesicherte Finanzierungen spezialisierte Banken. Sie unterliegen den strengen Regelungen des Hypothekenbankgesetzes.</dd>
                            </dl>
                            <dl id="K">
                                <dt>Konditionen</dt>
                                <dd>Bedingungen, zu denen ein Darlehensgeber bereit ist, ein Darlehen zur Verfügung zu stellen.</dd>
                            </dl>
                            <dl id="L">
                                <dt>Laufzeit</dt>
                                <dd>Die Laufzeit eines Darlehens umfaßt den Zeitraum von der Auszahlung bis zur vollständigen Rückzahlung.</dd>
                            </dl>
                            <dl id="N">
                                <dt>Nominalbetrag</dt>
                                <dd>Der im Darlehensvertrag vereinbarte Nennbetrag eines Darlehens. Der Auszahlungsbetrag liegt häufig unter dem Nominalbetrag.</dd>
                            </dl>
                            <dl id="P">
                                <dt>Pfandbriefe</dt>
                                <dd>Festverzinsliche Wertpapiere, die der Mittelbeschaffung für Darlehen dienen. Sie müssen jederzeit durch erststellige Hypotheken mit mindestens gleichem Zinssatz gedeckt sein. Öffentliche Pfandbriefe dienen der Refinanzierung von Kommunaldarlehen an Bund und Länder (Gemeinden).</dd>
                            </dl>
                            <dl id="R">
                                <dt>Rangstelle</dt>
                                <dd>Gibt bei mehreren eingetragenen Belastungen (Vorlasten) Aufschluß über die Reihenfolge, in der die Gläubiger im Fall der Zwangsvollstreckung Ansprüche geltend machen können.</dd>
                            </dl>
                            <dl id="S">
                                <dt>Schätzungsgebühren</dt>
                                <dd>Für die Schätzung werden dem Darlehensnehmer Gebühren in Rechnung gestellt, die in der Regel bei der Auszahlung des Darlehens einbehalten werden.</dd>
                            </dl>
                            <dl id="T">
                                <dt>Tilgung</dt>
                                <dd>Regelmäßige Leistung des Darlehensnehmers zur Rückzahlung des Darlehens.</dd>
                                <dt>Tilgungsaussetzung</dt>
                                <dd>Die Bank erklärt sich bereit, die vereinbarte Tilgung gegen Abtretung der Ansprüche aus einer Kapitallebensversicherung oder Bausparverträgen auszusetzen. In dieser Zeit der Aussetzung erhält die Bank nur die vereinbarten Zinsen.</dd>
                            </dl>
                            <dl id="U">
                                <dt>Umschuldung</dt>
                                <dd>Ablösung eines bestehenden Kredites durch ein neues Darlehen (z.B. bei Umwandlung kurzfristiger Bankkredite in langfristige Hypothekendarlehen)</dd>
                            </dl>
                            <dl id="V">
                                <dt>Verkehrswert</dt>
                                <dd>Marktwert eines (un)bebauten Grundstücks an einem bestimmten Stichtag</dd>
                            </dl>
                            <dl id="W">
                                <dt>Wertermittlung</dt>
                                <dd>Dient der Ermittlung des Verkehrswertes, der häufig die Grundlage für den Kaufpreis eines Hauses bildet und der Ermittlung des Beleihungswertes. Unter Beleihungswert wird der dauerhafte Wert verstanden und dient der Ermittlung der Beleihungsgrenze sowie der längerfristigen Risikobeurteilung.</dd>
                            </dl>
                            <dl id="Z">
                                <dt>Zwischenfinanzierung</dt>
                                <dd>Wird in Anspruch genommen zur Überbrückung eines kurzfristigen Kreditbedarfes bis zur Auszahlung der langfristigen Finanzierungsmittel. (insb. während der Bauphase).</dd>
                            </dl>
                        </div>
                    </div>
                </article>
