---
title: "Service − Kramer Immobilien Makler"
description: "Peter Kramer Gründer und Geschäftsführer, Bankkaufmann 05205 9 11 0 14"
---

                <article class="stripe team">
                    <div class="row">
                        <div class="col x9">
                            <h1>Wir wollen!</h1>
                            <p><strong>Unser Serviceteam</strong> steht Ihnen gerne zur Seite und bietet eine <strong>fachmännische Betreuung</strong> in allen Anliegen rund um Ihre Immobilie, <strong>freundlich, diskret und seriös!</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col x12">
                            <div class="team-wrapper clearfix">
                                <div class="hexagon">
                                    <img src="images/pk.png" alt="">
                                    <div class="hexagon-content">
                                        <h2>Peter Kramer</h2>
                                        <p>Gründer und Geschäftsführer, Bankkaufmann</p>
                                        <p>
                                            Telefon 05205 9 11 0 14
                                        </p>
                                        <p>
                                            <a class="cta" href="mailto:mail@kramer-immobilien.de">E-Mail</a>
                                        </p>
                                    </div>
                                    <div class="hexagon-green">
                                    </div>
                                </div>
                                <div class="hexagon">
                                    <img src="images/nk.png" alt="">
                                    <div class="hexagon-content">
                                        <h2>Nadine Klein</h2>
                                        <p>Prokuristin, Immobilienkauffrau</p>
                                        <p>
                                            Telefon 05205 9 11 0 16
                                        </p>
                                        <p>
                                            <a class="cta" href="mailto:mail@kramer-immobilien.de">E-Mail</a>
                                        </p>
                                    </div>
                                    <div class="hexagon-green">
                                    </div>
                                </div>
                                <div class="hexagon">
                                    <img src="images/jk.png" alt="">
                                    <div class="hexagon-content">
                                        <h2>Julia Klein</h2>
                                        <p>Auszubildende</p>
                                        <p>
                                            Telefon 05205 9 11 0 13
                                        </p>
                                        <p>
                                            <a class="cta" href="mailto:mail@kramer-immobilien.de">E-Mail</a>
                                        </p>
                                    </div>
                                    <div class="hexagon-green">
                                    </div>
                                </div>
                                <div class="hexagon">
                                    <div class="hexagon-content">
                                        <h2>Wir<br>wollen!</h2>
                                    </div>
                                    <div class="hexagon-green">
                                    </div>
                                </div>
                                {{!--<div class="hexagon">
                                    <img src="images/nadine-kowsky.png" alt="">
                                    <div class="hexagon-content">
                                        <h2>Nadine Kowsky</h2>
                                        <p>Gründer und Geschäftsführer, Bankkaufmann</p>
                                        <p>
                                            Telefon 05205 9 11 0 16
                                        </p>
                                        <p>
                                            <a class="cta" href="mailto:kowsky@kramer-immobilien.de">E-Mail</a>
                                        </p>
                                    </div>
                                    <div class="hexagon-green">
                                    </div>
                                </div>
                                <div class="hexagon">
                                    <img src="images/petra-kramme.png" alt="">
                                    <div class="hexagon-content">
                                        <h2>Petra Kramme</h2>
                                        <p>Backoffice<br>&nbsp;</p>
                                        <p>
                                            Telefon 05205 9 11 0 15
                                        </p>
                                        <p>
                                            <a class="cta" href="mailto:kramme@kramer-immobilien.de">E-Mail</a>
                                        </p>
                                    </div>
                                    <div class="hexagon-green">
                                    </div>
                                </div>--}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col x8">
                            <h2>Überzeugen Sie sich selbst!</h2>
                            <p>Kundenzufriedenheit ist der Maßstab, an dem wir uns und unsere Leistungen messen. Das ist auch mit der Grund, warum wir als <strong>Ausbildungsbetrieb</strong> höchsten Wert auf die sorgfältige Aus- und Weiterbildung unserer Mitarbeiter legen. Genauso wichtig ist uns die <strong>persönliche und engagierte Betreuung</strong>, die für uns ebenso selbstverständlich ist wie absolute Diskretion. Vertrauen ist schliesslich der Anfang von allem - auch im Immobiliengeschäft. Daher legen wir die Beurteilung, ob wir gut sind oder gar besser, besten Gewissens in Ihre Hände.</p>
                        </div>
                    </div>
                </article>
