---
title: Immobilien Angebote − Kramer Immobilien GmbH
description: Immobilien description
---

                <article class="stripe">
                    <div class="row">
                        <div class="col x12">
                            <iframe id="fktest" class="immopool" src="http://www.immopool.de/asp/ImmoListeDirekt.asp?AnbNr=39024">
                                <div class="row">
                                    <div class="col x9">
                                        <h1>Lorem ipsum dolor sit amet.</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sit magni ex tempora non dicta iure doloremque molestias, in cupiditate.</p>
                                        <p><a class="cta" href="http://www.immopool.de/asp/ImmoListeDirekt.asp?AnbNr=39024">Unsere Angebote bei Immopool</a></p>
                                    </div>
                                </div>
                            </iframe>
                        </div>
                    </div>
                </article>
