            <article class="stripe meta clearfix" id="Anfahrt" role="region" aria-expanded="false">
                <header class="row nomb">
                    <div class="col x12">
                        <h1>Anfahrt</h1>
                    </div>
                </header>
                <div id="map" data-icon="favicon.ico"></div>
            </article>
