            <footer role="contentinfo" class="stripe footer">
                <div class="row">
                    <div class="col x4">
                        <p>&copy; 2017 Kramer Immobilien GmbH</p>
                    </div>
                    <div class="col x4 middle">
                        <p><a href="impressum.html">Impressum</a></p>
                    </div>
                    {{!--<div class="col x4 right">
                        <p>Mitglied im <a href="verbaende.html#ivd">ivd</a> und <a href="verbaende.html#cei">C.E.I</a>.</p>
                    </div>--}}
                </div>
            </footer>
