            <header role="banner" class="stripe header" itemscope itemtype="http://schema.org/RealEstateAgent">
                <div class="row">
                    <div class="col x12">
                        <h1 itemprop="legalName">Kramer Immobilien GmbH</h1>
                        <a class="logo" href="index.html"><img itemprop="logo" src="images/kramer-immobilien-logo.gif" alt=""></a>
                        <aside>
                            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <p>
                                    <span itemprop="streetAddress">Senner Hellweg 233 </span>
                                    <br>
                                    <span itemprop="postalCode"> 33689</span>
                                    <span itemprop="addressLocality"> Bielefeld</span>
                                </p>
                                <table>
                                    <tr>
                                        <th> Telefon: </th>
                                        <td itemprop="telephone"> 05205 9 11 0 0 </td>
                                    </tr>
                                    <tr>
                                        <th> Telefax: </th>
                                        <td itemprop="faxNumber"> 05205 9 11 0 99 </td>
                                    </tr>
                                </table>
                                <p>
                                    <a itemprop="email" href="mailto:mail@kramer-immobilien.de">mail@kramer-immobilien.de</a>
                                </p>
                            </address>
                            <table itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
                                <tr>
                                    <th itemprop="dayOfWeek"> Mo &minus; Fr </th>
                                    <td><time itemprop="opens" datetime="09:00">9:00</time> &minus; <time itemprop="closes">18:00</time> Uhr</td>
                                </tr>
                                <tr>
                                    <th itemprop="dayOfWeek"> Sa </th>
                                    <td><time itemprop="opens" datetime="09:30">9:30</time> &minus; <time itemprop="closes">12:30</time> Uhr</td>
                                </tr>
                            </table>
                        </aside>
                        <div class="fixedwrap">
                            <nav role="navigation">
                                <!--a href="#Anfahrt" role="button" aria-controls="Anfahrt">Anfahrt</a-->
                                <a href="#Kontakt" role="button" aria-controls="Kontakt">Kontakt</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
